
Temp/workerlic
Temp/UnityLockfile
Temp/FSTimeGet-ee84bf45e46f35b4e94ba4f8eb01b483
Temp/FSTimeGet-b2b4aad9b9789b64a82b1c277f56a146
Temp/FSTimeGet-809ee331f23df424384ca51b5eae88de
Logs/shadercompiler-UnityShaderCompiler.exe0.log
Logs/shadercompiler-AssetImportWorker0.log
Logs/AssetImportWorker9-prev.log
Logs/AssetImportWorker8-prev.log
Logs/AssetImportWorker7-prev.log
Logs/AssetImportWorker6-prev.log
Logs/AssetImportWorker5-prev.log
Logs/AssetImportWorker4-prev.log
Logs/AssetImportWorker3-prev.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker1.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker0-prev.log
Library/SourceAssetDB
Library/SceneVisibilityState.asset
Library/EditorInstance.json
Library/Bee/TundraBuildState.state.map
Library/Bee/TundraBuildState.state
Library/Bee/tundra.log.json
Library/Bee/tundra.digestcache
Library/Bee/fullprofile.json
Library/Bee/backend_profiler0.traceevents
Library/Artifacts/fd/fd11fa548b55d9e0e768f6f02ae12a4b
Library/Artifacts/be/be33f13835074206ca0312e7a29e32b0
Library/Artifacts/b1/b1cb2902b0d6a4695cf187915a267e0a
Library/Artifacts/89/8975b154b9e0418f0bb964e9006d402d
Library/Artifacts/83/8324dfa385ddb85369290f19d43ff2ae
Library/Artifacts/77/7781422f257a70fa290dd5b7b25f9a40
Library/Artifacts/76/7685894deca7a59d698695c46a2f7e78
Library/Artifacts/67/674e4341b00e839ea8ae4b6270eebd7c
Library/Artifacts/56/56e5949499244ee457b2c4632bebdf7c
Library/Artifacts/56/564b3b7c99e63185d04b19544d2118e5
Library/Artifacts/3c/3c065cb630938cd6f69238184bb8f260
Library/Artifacts/39/39421128437491b6a8f46e28996e23a2
Library/Artifacts/38/387e49fe8b3392475c23e322d3147770
Library/Artifacts/32/32b84e19fd1c21dcca8f5cdd3b36ed93
Library/Artifacts/29/294d1d835962a5cd91d6d18163c0afbf
Library/Artifacts/28/286400553396712de1d50f1f8ffa2165
Library/Artifacts/21/2178a8a0fa8308fcfa83c6c3cf779a0c
Library/ArtifactDB
